body { font-family: Arial; }
header { background:#333; color:white; padding:20px; }
nav { background:#555; padding:10px; }
main { background:#f4f4f4; font-size:18px; padding:20px; }
footer { background:#333; color:white; text-align:center; padding:10px; }

li { display:inline-block; width:120px; }
h1 { text-align:center; font-family:Georgia; color:white; }
p { line-height:1.6; }

